@import "tailwindcss";

* {
  touch-action: pan-x pan-y; /* allows scrolling, blocks pinch-zoom */
}

body {
  /* slate-900 */
  background-color: var(--color-slate-900);
}

html {
  overscroll-behavior: none;
  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom);
}

@theme {
  --spacing-bottom-bar: 64px;
  --spacing-safe-bottom: env(safe-area-inset-bottom);
  --spacing-bottom-bar-inset: calc(var(--bottom-tab-bar-height) + env(safe-area-inset-bottom));
}

@utility pb-tab-bar {
  padding-bottom: var(--spacing-bottom-bar-inset);
}
